@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar {
  height: 100%;
  width: 175px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #F9F9F9;
  box-shadow: #2A2A2A 0px 4px 4px;
}

body {
  margin: 0
}

.nav-content {
  background-color: #d56b0d;
  height: 50%;
}

.title {
  font-family: 'Inter', sans-serif;
  color: white;
  margin-top: 20px;
  font-size: 180%;
  font-weight: bolder;
}

.login {
  display: "flex";
  background: none;
  border: none;
  position: flex;
  margin-top: auto;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  color: #022539;
  font-size: 100%;
  font-weight: bolder;
  text-align: right;
}

.login:hover {
  color: #FF872B;
  cursor: pointer;
}

.logout {
  display: "none";
  background: none;
  border: none;
  position: flex;
  margin-top: auto;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  color: #022539;
  font-size: 100%;
  font-weight: bolder;
  text-align: right;
}

.logout:hover {
  color: #FF872B;
  cursor: pointer;
}

.page {
  display: flex;
  padding-top: 50px;
  padding-left: 150px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addTask {
  border-radius: 30px;
  border: 1px solid #022539;
  padding: 12px 20px;
  background: white;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 85%;
  text-align: center;
  width: fit-content;
  color: black;
}

.addTask:hover {
  transition: 0.2s;
  background: #FF872B;
  border: none;
  /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
  color: white;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  animation: lds-roller-2 6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FF872B;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    background: red;
    transform: rotate(0deg);
  }

  12.5% {
    background: rgb(255, 134, 20);
  }

  25% {
    background: rgb(226, 195, 38);
  }

  37.5% {
    background: rgb(36, 191, 31);
  }

  50% {
    background: rgb(37, 131, 208);
  }

  62.5% {
    background: rgb(46, 34, 182);
  }

  75% {
    background: rgb(87, 37, 216);
  }

  87.5% {
    background: rgb(153, 4, 195);
  }

  100% {
    background: red;
    transform: rotate(360deg);
  }
}

@keyframes lds-roller-2 {
  0% {
    background: red;
  }

  12.5% {
    background: rgb(255, 134, 20);
  }

  25% {
    background: rgb(226, 195, 38);
  }

  37.5% {
    background: rgb(36, 191, 31);
  }

  50% {
    background: rgb(37, 131, 208);
  }

  62.5% {
    background: rgb(46, 34, 182);
  }

  75% {
    background: rgb(87, 37, 216);
  }

  87.5% {
    background: rgb(153, 4, 195);
  }

  100% {
    background: red;
  }
}


#addTaskBox {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 388px;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  border: 1px solid #022539;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
}

.title-and-date {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
}

.inputText {
  display: flex;
  width: 70%;
  height: 30px;
  padding-left: 3%;
  padding-right: 3%;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
  border: 1px solid #919191;
  border-radius: 10px;
}

.inputCategory {
  display: none;
  width: 300px;
  height: 30px;
  padding-left: 3%;
  padding-right: 3%;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
  border: 1px solid #919191;
  border-radius: 10px;
}

.inputLink {
  display: flex;
  width: 290px;
  height: 30px;
  padding-left: 3%;
  padding-right: 3%;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
  border: 1px solid #919191;
  border-radius: 10px;
}

.inputDate {
  display: flex;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: 1px solid #919191;
  border-radius: 10px;
}

select {
  display: flex;
  width: 320px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
  border: 1px solid #919191;
  border-radius: 10px;
}

option {
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
}

.inputNote {
  display: flex;
  width: 300px;
  height: 156px;
  padding-left: 3%;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
  border: 1px solid #919191;
  border-radius: 10px;
}

.add {
  display: flex;
  height: 25px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 80%;
  color: #4D4C4C;
  border: 1px solid #919191;
  border-radius: 10px;
}

.add:hover {
  transition: 0.2s;
  background-color: #022539;
  border: none;
  color: white;
  cursor: pointer;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 686px;
  max-width: 90%;
  gap: 25px;
  list-style-type: none;
  padding-inline-start: 0px;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  /* border: none; */
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border: 2px solid red;
  animation: rgb linear 3s infinite;
  width: 100%;
  height: 65px;
  font-family: 'Inter', sans-serif;
  color: black;
}

@keyframes rgb {
  0% {
    border-color: red;
  }

  12.5% {
    border-color: rgb(255, 134, 20);
  }

  25% {
    border-color: rgb(226, 195, 38);
  }

  37.5% {
    border-color: rgb(36, 191, 31);
  }

  50% {
    border-color: rgb(37, 131, 208);
  }

  62.5% {
    border-color: rgb(46, 34, 182);
  }

  75% {
    border-color: rgb(87, 37, 216);
  }

  87.5% {
    border-color: rgb(153, 4, 195);
  }

  100% {
    border-color: red;
  }
}

.task:hover {
  transition: 0.2s;
  background: #022539;
  /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
  color: white;
  cursor: pointer;
}

.mcvTask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #038BDB;
  border: none;
  border-radius: 10px;
  border: 1px solid red;
  animation: rgb linear 3s infinite;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 100%;
  height: 65px;
  font-family: 'Inter', sans-serif;
  color: white;
}

.mcvTask:hover {
  transition: 0.2s;
  background: white;
  /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
  color: #038BDB;
  cursor: pointer;
}

.check-task {
  border-radius: 50%;
  border: none;
  background: white;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border: 1px solid #022539;
  cursor: pointer;
}

.check-task:hover {
  transition: 0.2s;
  background: #F0A830;
}

.checkMark {
  display: none;
  border-radius: 50%;
  border: none;
  background: #62B01E;
  width: 30px;
  height: 30px;
  margin-left: -6px;
  margin-top: -1px;
}

.checkMark:hover {
  transition: 0.2s;
  background: red;
}

.taskName {
  padding-left: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.taskDueDate {
  margin-left: auto;
  margin-right: 20px;
}

.categoryBox {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  gap: 20px;
  font-family: 'Inter', sans-serif;
}

.categorySideBar {
  display: flex;
  border-radius: 10px;
  border: none;
  align-items: center;
  justify-content: center;
  background: none;
  height: 35px;
  gap: 10px;
  font-weight: 200;
  font-size: 120%;
  color: #EA7011;
}

.categorySideBar:hover {
  transition: 0.2s;
  color: black;
  cursor: pointer;
}

.category {
  display: flex;
  border-radius: 10px;
  border: none;
  align-items: center;
  justify-content: center;
  background: none;
  height: 35px;
  gap: 10px;
  font-weight: 200;
  font-size: 120%;
  color: black;
}

#hamburger {
  background: none;
  border: none;
  padding-right: 10px;
  visibility: hidden;
}

#hamburger:hover {
  cursor: pointer;
}

#pagecover {
  background-color: #2A2A2A;
  border: none;
  opacity: 50%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 80px;
  left: 0;
  visibility: hidden;
}

#close-sidebar {
  background: none;
  border: none;
  padding-right: 10px;
  position: fixed;
  top: 6px;
  left: 15px;
  font-size: 50px;
  color: #EA7011;
  cursor: pointer;
  visibility: hidden;

}

.deleteButton {
  background-color: #FBF3F1;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  border: none;
  visibility: hidden;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: #FFB489;
}

.note {
  display: flex;
  position: relative;
  background: white;
  border: 1px solid #022539;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  display: none;
}

.note-text {
  position: absolute;
  font-family: 'Inter', sans-serif;
  top: 20px;
  left: 30px;
  color: black;
  text-decoration: underline;
}

.input-note-text {
  position: absolute;
  font-family: 'Inter', sans-serif;
  top: 40px;
  left: 110px;
  color: black;
}

.link-text {
  position: absolute;
  font-family: 'Inter', sans-serif;
  left: 50%;
  top: 90px;
  transform: translateX(-50%);
  color: #022539;
  text-decoration: underline;
}

.link-text:hover {
  cursor: pointer;
  color: #1C7690;
}

.oneRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110%;
  gap: 10px;
  list-style-type: none;
  padding-inline-start: 10%;
}

@media screen and (max-width: 500px) {
  .bodyy {
    transform: scale(0.5);
    margin-right: -160px;
    margin-left: -206px;
    margin-top: -250px;
  }
}

@media screen and (max-width: 440px) {
  .bodyy {
    transform: scale(0.4);
    margin-right: -170px;
    margin-left: -204px;
    margin-top: -294px;
  }
}

/*
  #navbar {
    height: 80px;
  }
  #categoryBox {
    background-color: #093753;
    top: 80px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  #hamburger {
    visibility: visible;
  }
  #category{
    display: flex;
    border-radius: 10px;
    padding:5px;
    border:none;
    align-items: center;
    justify-content: center;
    width:150px;
    height: 35px;
    gap: 10px;
    font-weight: 200;
    font-size: 120%;
    background:none;
    color: white;
  }
  #category:hover{
    transition: 0.2s;
    background: none;
    color: white;
    cursor: pointer;
  }
  
  .addCategory{
    display: flex;
    width: 35px;
    height: 35px;
    background: none;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 200%;
    align-items:center;
    justify-content: center;
  }
  
  .addCategory:hover{
    transition: 0.2s;
    background: none;
    color: white;
    cursor: pointer;
  }
   
}*/