@import url("https://fonts.googleapis.com/css2?https://fonts.google.com/specimen/Inter=Mitr:wght@200;400;600&display=swap");

#navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: #093753;
}

@media screen and (max-width: 768px) {
  #navbar {
    height: 15vh;
  }
}

@media screen and (max-width: 480px) {
  #navbar {
    height: 20vh;
  }
}

body { margin: 0 }

.nav-content {
    background-color: #d56b0d;
    height: 50%;
}

.page {
  display: flex;
  padding-top: 30px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.title {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size:200%;
    font-weight: bolder;
    padding-left: 5%;
}

.logout {
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size:100%;
    font-weight: bolder;
    text-align: right;
    padding-right: 3%;
}

.logout:hover{
    color: #FF872B;
    cursor: pointer;
}

.addTask {
  border-radius: 30px;
  border:none;
  padding: 12px 20px;
  background: #022539;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 85%;
  text-align: center;
  width: fit-content;
  color: white;
}

.addTask:hover {
  background: #1C7690;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1C7690;
  border-radius: 30px;
  width: 70%;
  height: 65px;
  font-family: 'Inter', sans-serif;
  color: white;
}

.checkTask{
  display: flex;
  border-radius: 50%;
  border: none;
  background: white;
  padding: 15px 15px;
  margin-left: 20px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: fit-content;
}

.checkTask:hover {
  background: #F0A830;
}

.section-right{
  text-align: right;
}