@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
#navbar {
  height: 90px;
  width: 100%;
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: #093753;
}

body { margin: 0 }

.nav-content {
    background-color: #d56b0d;
    height: 50%;
}

.title {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size:200%;
    font-weight: bolder;
    padding-left: 2%;
}

.logout {
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size:100%;
    font-weight: bolder;
    text-align: right;
    padding-right: 3%;
}

.logout:hover{
    color: #FF872B;
    cursor: pointer;
}

.page {
  display: flex;
  padding-top: 110px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addTask {
  border-radius: 30px;
  border:none;
  padding: 12px 20px;
  background: #022539;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 85%;
  text-align: center;
  width: fit-content;
  color: white;
}

.addTask:hover {
  background: #1C7690;
}

#addTaskBox{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: fit-content;
  height: 388px;
  gap:10px;
  padding:20px;
  border-radius: 10px;
  align-items: center;
  background: #093753;
  height: fit-content;
}

.title-and-date{
  display: flex;
  flex-direction: row;
  gap:10px;
}

.inputText{
  display: flex;
  width: 160px;
  height: 30px;
  padding-left: 3%;
  padding-right: 3%;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
}

.inputDate{
  display:flex;
  width: 180px;
  height: 30px;
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
}

select{
  display: flex;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
}

option{
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
}

.inputNote{
  display: flex;
  width: 300px;
  height: 156px;
  padding-left: 3%;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
}

.add{
  display: flex;
  height: 25px;
  width:50px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 80%;
  color:#4D4C4C;
}

.add:hover{
  background-color: #022539;
  cursor: pointer;
}

#taskList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 686px;
  max-width: 90%;
  gap:10px;
  list-style-type: none;
  padding-inline-start: 0px;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1C7690;
  border-radius: 30px;
  width: 100%;
  /* min-width: 500px; */
  height: 65px;
  font-family: 'Inter', sans-serif;
  color: white;
}
.task:hover{
  transition: 0.2s;
  background: #022539;
  color: white;
  cursor: pointer;
}

.check-task{
  border-radius: 50%;
  border: none;
  background: white;
  width:30px;
  height:30px;
  margin-left: 20px;
  cursor: pointer;
}

.check-task:hover {
  transition: 0.2s;
  background: #F0A830;
}

.checkMark{
  display: none;
  border-radius: 50%;
  border: none;
  background: #62B01E;
  width:30px;
  height:30px;
  margin-left:-6px;
  margin-top: -1px;
}

.checkMark:hover{
  transition: 0.2s;
  background: red;
}

.taskName{
  text-decoration: none;
}

.taskDueDate{
  margin-left: auto;
  margin-right: 20px;
}

.categoryBox{
  /* background-color: #d56b0d; */
  display: flex;
  position: fixed;
  padding:20px;
  top: 12vh;
  left:0%;
  width:fit-content;
  box-sizing: content-box;
  height: 90vh;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: 'Inter', sans-serif;
}

#category{
  display: flex;
  border-radius: 10px;
  padding:5px;
  border:none;
  /* border: 2px solid #D04B00; */
  align-items: center;
  justify-content: center;
  width:150px;
  height: 35px;
  gap: 10px;
  font-weight: 200;
  font-size: 120%;
  background:#FFB489;
  color: #D04B00;
}
#category:hover{
  transition: 0.2s;
  background: #D04B00;
  color: white;
  cursor: pointer;
}

.addCategory{
  display: flex;
  width: 35px;
  height: 35px;
  background: #FFB489;
  border-radius: 10px;
  border: none;
  color: #D04B00;
  font-weight: 700;
  font-size: 200%;
  align-items:center;
  justify-content: center;
}

.addCategory:hover{
  transition: 0.2s;
  background: #D04B00;
  color: white;
  cursor: pointer;
}

#hamburger {
  background: none;
  border: none;
  padding-right: 10px;
  visibility: hidden;
}

#hamburger:hover {
  cursor: pointer;
}

.pagecover {
  background-color: #2A2A2A;
  border:none;
  opacity: 50%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 80px;
  left: 0;
  visibility: hidden;
}

#close-sidebar {
  background: none;
  border: none;
  padding-right: 10px;
  position: fixed;
  top: 6px;
  /* left: 15px; */
  left: 40px;
  font-size: 50px;
  color: #EA7011;
  cursor: pointer;
  visibility: hidden;
  
}

@media screen and (max-width: 768px) {
  #navbar {
    height: 80px;
  }
  .categoryBox {
    background-color: #093753;
    top: 80px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  #hamburger {
    visibility: visible;
  }
  .pagecover {
    visibility: visible;
  }
  #category{
    display: flex;
    border-radius: 10px;
    padding:5px;
    border:none;
    /* border: 2px solid #D04B00; */
    align-items: center;
    justify-content: center;
    width:150px;
    height: 35px;
    gap: 10px;
    font-weight: 200;
    font-size: 120%;
    background:none;
    color: white;
  }
  #category:hover{
    transition: 0.2s;
    background: none;
    color: white;
    cursor: pointer;
  }
  
  .addCategory{
    display: flex;
    width: 35px;
    height: 35px;
    background: none;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 200%;
    align-items:center;
    justify-content: center;
  }
  
  .addCategory:hover{
    transition: 0.2s;
    background: none;
    color: white;
    cursor: pointer;
  }
  
}