@import url("https://fonts.googleapis.com/css2?https://fonts.google.com/specimen/Inter=Mitr:wght@200;400;600&display=swap");

#navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: #093753;
}

@media screen and (max-width: 768px) {
  #navbar {
    height: 15vh;
  }
}

@media screen and (max-width: 480px) {
  #navbar {
    height: 20vh;
  }
}

body { margin: 0 }

.nav-content {
    background-color: #d56b0d;
    height: 50%;
}



.title {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size:200%;
    font-weight: bolder;
    padding-left: 5%;
}

.logout {
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size:100%;
    font-weight: bolder;
    text-align: right;
    padding-right: 3%;
}

.logout:hover{
    color: #FF872B;
    cursor: pointer;
}

.page {
  display: flex;
  padding-top: 30px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.addTask {
  border-radius: 30px;
  border:none;
  padding: 12px 20px;
  background: #022539;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 85%;
  text-align: center;
  width: fit-content;
  color: white;
}

.addTask:hover {
  background: #1C7690;
}

#addTaskBox{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: fit-content;
  height: 388px;
  gap:10px;
  padding:20px;
  border-radius: 10px;
  align-items: center;
  background: #093753;
  height: fit-content;
}

.title-and-date{
  display: flex;
  flex-direction: row;
  gap:10px;
}

.inputText{
  display: flex;
  width: 180px;
  height: 20px;
  padding:5px;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
}

.inputNote{
  display: flex;
  width: 300px;
  height: 156px;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
}

.add{
  display: flex;
  height: 25px;
  width:50px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background: #F5F5F5;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 80%;
  color:#4D4C4C;
}

.add:hover{
  background-color: #022539;
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1C7690;
  border-radius: 30px;
  width: 50%;
  max-width: 686px;
  height: 65px;
  font-family: 'Inter', sans-serif;
  color: white;
}
.task:hover{
  background: #022539;
  color: white;
  cursor: pointer;
}

.check-task{
  border-radius: 50%;
  border: none;
  background: white;
  width:30px;
  height:30px;
  margin-left: 20px;
  cursor: pointer;
}

.check-task:hover {
  background: #F0A830;
}

#taskName{
  text-decoration: none;
}

#checkMark{
  display: none;
  border-radius: 50%;
  border: none;
  background: #62B01E;
  width:30px;
  height:30px;
  margin-left:-6px;
  margin-top: -1px;
}

#checkMark:hover{
  background: red;
}

.categoryBox{
  display: flex;
  position: absolute;
  padding:20px;
  top:10vh;
  left:0%;
  width:20%;
  box-sizing: content-box;
  height:fit-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: 'Inter', sans-serif;
}

.category{
  display: flex;
  border-radius: 10px;
  padding:5px;
  border:none;
  /* border: 2px solid #D04B00; */
  align-items: center;
  justify-content: center;
  width:150px;
  height: 35px;
  gap: 10px;
  font-weight: 200;
  font-size: 120%;
  background:#FFB489;
  color: #D04B00;
}
.category:hover{
  background: #D04B00;
  color: white;
  cursor: pointer;
}

.addCategory{
  display: flex;
  width: 35px;
  height: 35px;
  background: #FFB489;
  border-radius: 10px;
  border: none;
  color: #D04B00;
  font-weight: 700;
  font-size: 200%;
  align-items:center;
  justify-content: center;
}

.addCategory:hover{
  background: #D04B00;
  color: white;
  cursor: pointer;
}
.section-right{
  text-align: right;
}